/* Hide scrollbar for Chrome, Safari and Opera */
.side-nav::-webkit-scrollbar {
    display: none;
}

 /*Hide scrollbar for IE, Edge and Firefox */
.side-nav {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}


.side-nav{
    padding: 5px;
    background-color: black;
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    width: 120px;
    height: 100vh;
    overflow: scroll;
    position: fixed;
    justify-content: center;
    box-shadow: 1px 1px 5px 5px  #4d4d4d;
}

.side-nav >a{
    padding: 15px;
    flex: 1 1 10px;
    text-align: center;
    text-decoration: none;
    color: white;
    transition: transform 100ms;
    font-size: smaller;
}

.side-nav> .active{
    /*filter: brightness(0.5);*/
    background: -webkit-linear-gradient(#ff0000,#ff1ac6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}
.side-nav > a:hover{
    cursor: pointer;
    transform: scale(1.09);
}




